div.views-field.views-field-field-image {
  width: 100px;
  float: right;
  margin: 0pt;
  text-align: center;
}
div.ofis-data .views-field.views-field-title {
  width: 500px;
  float: left;
  margin: 0pt;
  text-align: left;
}
div.views-field.views-field-field-others {
  width: 400px;
  float: left;
  margin: 0pt;
  padding: 2px 0pt;
  text-align: left;
  font-size: 12px;
  display: inline;
}

div.views-field-field-others .field-content {
  display: inline;
}
div.ofis-data {
  width: 500px;
  margin: 2px 0pt 0pt;
  padding: 0pt;
}
td.ofis-noborder {
  border: none;
}

tbody {
  border-top: none;
}

div.field-ofis-profile .field-label {
  float: left;
  padding-right: 6px;
  font-weight: bold;
}

div.views-field-field-others .field-content span.field-label {
  font-weight: bold;
}

div.field-ofis-profile {
  line-height: 2;
}
